html{
  font-size: 20px;
  font-weight: bold;
  background-image: url("https://secure.img1-fg.wfcdn.com/im/12462972/compr-r85/7346/73465683/yahya-kids-blush-watercolor-wash-33-l-x-205-w-wallpaper-roll.jpg");
  background-size: cover;
}
#header {
  text-align: center;
  font-size: 60px;
  color: pink;
  text-shadow: 2px 8px 8px red;
  font-family: "Courier New", Courier, monospace;
  letter-spacing: 10px;
}
#header > h1 {
  display: inline;
  font-size: 60px;
  margin: 0;
  padding: 0;
}
p {
  font-weight: bold;
  font-size: 23px;
}
q {
  quotes: '"' '"' "'" "'";
}
q::before {
  content: open-quote;
}
q::after {
  content: close-quote;
}
q {
  color: purple;
  font-size: 38px;
  font-style: italic;
  text-align: right;
}
.slider {
  margin: 50px auto;
  width: 50%;
}

.img-box img {
  width: 100%;
}
.btn {
  border: none;
  outline: none;
  background-color: #888888;
  padding: 10px 30px;
  font-size: 20px;
  color: #dddddd;
  cursor: pointer;
  margin: 10px auto;
}
.btn:hover {
  background: pink;
}
.img-box > .slider-img {
  width: 100%;
  height: 500px;
  max-height: 500px;
}
.radio {
  display: inline;
}
button {
  background-color: pink;
  height: 50px;
  border: gray;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
button:hover {
  background: purple;
}
#demobutton {
  border-radius: 10px;
  height: 60px;
  outline: 0;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: larger;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
}
#endtext {
  color: purple;
  font-weight: bold;
  text-align: center;
}
#begginingtext {
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-decoration: underline;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 1px 1px;
  width: 100%;
}
.container > .image > img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  margin: 0%;
  padding: 0%;
}
#book {
  gap: 20px 20px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr;
  grid-template-areas: ". bookcontent";
  width: 100%;
}
.bookcontent {
  grid-area: bookcontent;
  text-align: justify;
  width: 100%;
  object-fit: cover;
  margin: 0%;
  padding: 0%;
}
.book-text{
  font-style:italic;
  color: whitesmoke;
  font-size: 20px;
  font-family:Arial, Helvetica, sans-serif;
  margin-top: 0;
}